[project]
	description = The Rockbox source code.
[submit]
	action = rebase if necessary
	mergeContent = true
[access "refs/*"]
	owner = group Administrators
	forgeAuthor = group Rockbox Committers
	label-Code-Review = -1..+1 group Registered Users
	label-Tested = -1..+1 group Registered Users
	pushTag = group Rockbox Release Committers
[access "refs/heads/*"]
	push = group Rockbox Committers
	label-Code-Review = -2..+2 group Rockbox Committers
	submit = group Rockbox Committers
	create = group Rockbox Release Committers
[access "refs/for/refs/*"]
	push = group Registered Users
[access "refs/developer/${username}/*"]
	create = group Rockbox Committers
	push = +force group Rockbox Committers
	label-Code-Review = -2..+2 group Rockbox Committers
	submit = group Rockbox Committers
[access "refs/tags/*"]
	create = group Rockbox Release Committers
