# .cfg file created by rockbox c145f41658-250621 - http://www.rockbox.org

idle poweroff: 0
font: /FunKey/rockbox/fonts/16-WenQangYi-Unibit.fnt
database scan paths: /Music
qs top: brightness
qs bottom: brightness
