# Configuration for creating a dmg with dmgbuild
# (https://github.com/al45tair/dmgbuild)
# Requires at least Python 3.4

import os
import plistlib

_appbundle = defines['appbundle']
_plfile = open(os.path.join(_appbundle, 'Contents/Info.plist'))
_pldata = _plfile.read().encode()
_plist = plistlib.loads(_pldata)
_iconfile = os.path.join(_appbundle, 'Contents/Resources', _plist['CFBundleIconFile'])

files = [ _appbundle ]
icon = _iconfile
background = '#c6d6f5'

