[Desktop Entry]
GenericName=Rockbox Theme Editor
Version=1.0
Hidden=false
Name=Rockbox Theme Editor
Type=Application
Terminal=false
StartupNotify=true
Icon=rbthemeeditor
Exec=RockboxThemeEditor
Categories=Utility;

