BODY, HTML {
 background-color: #b6c6e5;
 color: black;
 margin: 0px;
}

H1 {
 text-decoration:  none;
 font-family:      sans-serif;
 font-style:       normal;
 font-weight:      bold;
 font-size:        150%;
}

H2 {
 text-decoration:  none;
 font-family:      sans-serif;
 font-style:       normal;
 font-weight:      bold;
 font-size:        130%;
}

H3, div.h5, .newsdate {
 text-decoration:  none;
 font-family:      sans-serif;
 font-style:       normal;
 font-weight:      bold;
 font-size:        110%;
}

BODY, P, DIV, TD, TH, TR, FORM, OL, UL, LI, INPUT, TEXTAREA, SELECT
{
 text-decoration:  none;
 font-family:      sans-serif;
 font-style:       normal;
# font-size:        95%;
 font-size:        13px;
}

LI {
 margin-top: 3px;
}

P.ind {
 margin-left: 3em;
}

A {
 text-decoration: underline;
}

pre {
 overflow: auto;
}

.bgbox {
 left-border-width: 1px;
 border-color: #000000;
}

.menulink {
 color: #f0f0f0;
 line-height: 140%;
}

.menutext {
 color: #f0f0f0;
 font-size: 7pt;
}

td.building {
 text-align: center;
 background-color: #d6d6f5
}

.buildok {
 background-color: #00ff00;
}

.buildwarn {
 background-color: #ffff00;
}

.buildfail {
 background-color: #ff8080;
}

.gccwarn {
 background-color: #ffff00;
}

.gccerror {
 background-color: #ff8080;
}

.faqq {
 font-weight: bold;
 font-size: 110%;
}

.faqa {
 margin-left: 2em;
}

PRE {
 font-size: 9pt;
}


.rockbox, .changetable, .bugs, .requests, .patches, .dailymod, .buildstatus, .archive, .buttontable, .changesummary, .tools
{
 border: outset 2px #ffffff;
}

.listtable tr {
 vertical-align: top;
}

.filechange {
 background-color: #c6d6f5;
 font-weight: bold;
 padding: 4px;
}

.buildstatus th
{
 vertical-align: top;
}

.rockbox td, .changetable td, .bugs td, .requests td, .patches td, .archive td, .buttontable td, .tools td
{
 background-color: #c6d6f5;
 padding: 4px;
}

.fixed td {
 background-color: #aae8aa;
 padding: 4px;
}

.bad td {
 background-color: #f0c0c0;
}

.feature {
 font-weight: bold;
}

td.fgood {
 background-color: #aae8aa;
}

td.fbad {
 background-color: #f0c0c0;
}

td.toolscat {
 background-color: #b6c6e5;
}

.vc_diff_nochange {
 background-color: #ffffff;
}

.vc_navheader {
 background-color: #7897cb;
}

.vc_diff_chunk_header {
 background-color: #90afe3;
}

.twikiDiffLineNumberHeader {
 background-color: #d6e6f5;
}

.twikiDiffChangedHeader {
 background-color: #d0ffd0;
}

.twikiDiffDeletedMarker {
 background-color: #e81412;
}

.twikiDiffAddedMarker {
 background-color: #25e914;
}

.twikiDiffUnchangedText {
 background-color: #b6c6e5;
}

.twikibar {
 border: 2px outset white;
}

.bstamp {
 text-decoration: none;
}

.bstamp:hover {
 text-decoration: underline;
}

.blink {
 text-decoration: none;
}

.blink:hover {
 text-decoration: underline;
}
