BODY {
 background-color: #b6c6e5;
 color: black;
 margin: 0px;
}

H1 {
 text-decoration:  none;
 font-family:      Verdana,Arial,Helvetica,sans-serif;
 font-style:       normal;
 font-weight:      bold;
 font-size:        20pt;
}

H2 {
 text-decoration:  none;
 font-family:      Verdana,Arial,Helvetica,sans-serif;
 font-style:       normal;
 font-weight:      bold;
 font-size:        14pt;
}

H3 {
 text-decoration:  none;
 font-family:      Verdana,Arial,Helvetica,sans-serif;
 font-style:       normal;
 font-weight:      bold;
 font-size:        12pt;
}

BODY, P, DIV, TD, TH, TR, FORM, OL, UL, LI, INPUT, TEXTAREA, SELECT, A
{
 text-decoration:  none;
 font-family:      Verdana,Arial,Helvetica,sans-serif;
 font-style:       normal;
 font-size:        10pt;
}

A {
 text-decoration: underline;
}

.bgbox {
 left-border-width: 1px;
 border-color: #000000;
}

.menulink {
 color: #f0f0f0;
 line-height: 140%;
}

.menutext {
 color: #f0f0f0;
 font-size: 8pt;
}

.buildok {
 background-color: #00ff00;
 width: 3em;
}

.buildwarn {
 background-color: #ffff00;
 width: 3em;
}

.buildfail {
 background-color: #ff8080;
 width: 3em;
}

.gccwarn {
 background-color: #ffff00;
}

.gccerror {
 background-color: #ff8080;
}

.faqq {
 font-weight: bold;
}

.faqa {
 margin-left: 2em;
}

PRE {
 font-size: 9pt;
}


.rockbox, .changetable, .bugs, .requests, .dailymod, .buildstatus, .archive, .buttontable, .changesummary
{
 border: outset 2px #ffffff;
}

.listtable tr {
 vertical-align: top;
}

.filechange {
 background-color: #c6d6f5;
 font-weight: bold;
 padding: 4px;
}

.rockbox td, .changetable td, .bugs td, .requests td, .archive td, .buttontable td
{
 background-color: #c6d6f5;
 padding: 4px;
}

.fixed td {
 background-color: #aae8aa;
 padding: 4px;
}

.bad td {
 background-color: #f0c0c0;
}

.feature {
 font-weight: bold;
}

td.fgood {
 background-color: #aae8aa;
}

td.fbad {
 background-color: #f0c0c0;
}
