## OpenOCD configuration for STM32H7-based targets with SWD (eg. Echo R1)

# Setup for STLINK-V3SET + STM32H7
source [find interface/stlink-dap.cfg]
source [find target/stm32h7x.cfg]
reset_config srst_only srst_open_drain srst_nogate connect_assert_srst
init

# Workaround for OpenOCD complaining about externally asserted resets.
# Possibly an electrical issue.
adapter assert srst
adapter deassert srst

# OpenOCD doesn't handle soft breakpoints correctly for Cortex-M7 when ICache is enabled:
# https://sourceforge.net/p/openocd/mailman/openocd-user/thread/6668098.sCNexbpv2J@linux-5nlr.menet/
gdb_breakpoint_override hard
