#define RBUTIL 1
#include <wx/msw/wx.rc>
RBUTIL VERSIONINFO
FILEVERSION 0,3,2,4
PRODUCTVERSION 0,3,2,4
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "FFFF0000"
    BEGIN
      VALUE "FileVersion", "0.3.2.4\0"
      VALUE "ProductVersion", "0.3.2.4\0"
      VALUE "CompanyName", "Rockbox Team\0"
      VALUE "FileDescription", "Rockbox Utility\0"
      VALUE "InternalName", "rbutil\0"
      VALUE "LegalCopyright", "(C) 2005 - 2007 Rockbox Team\0"
      VALUE "ProductName", "Rockbox Utility\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0xFFFF, 0x0000
  END
END
RBUTIL_ICON ICON archos.ico
