# Disktidy config
# When adding a new file, make sure its NOT enabled
< ALL >: no
< NONE >: no
< Windows >: no
    desktop.ini: no
    Thumbs.db: no
    Recycled/: no
    $RECYCLE.BIN/: no
    System Volume Information/: no
< Mac OSX >: no
    .Trashes/: no
    .DS_Store: no
    ._*: no
< Linux/BSD >: no
    .Trash-*/: no
    .dolphinview: no
    .d3lphinview: no
< Other >: no
