ch8,viewers/chip8,0
txt,viewers/viewer,1
nfo,viewers/viewer,1
txt,apps/text_editor,2
jpg,viewers/jpeg,2
jpe,viewers/jpeg,2
jpeg,viewers/jpeg,2
ucl,viewers/rockbox_flash,3
rvf,viewers/video,4
mp3,viewers/vbrfix,5
m3u,viewers/search,-
txt,viewers/sort,-
gb,viewers/rockboy,6
gbc,viewers/rockboy,6
sgb,viewers/rockboy,6
m3u,viewers/iriverify,-
mid,viewers/midiplay,7 
rmi,viewers/midiplay,7
rsp,viewers/searchengine,8
sok,games/sokoban,1
pgn,games/chessbox,1
ss,games/sudoku,1
wav,viewers/wav2wv,-
wav,viewers/mp3_encoder,-
wav,viewers/wavplay,9
wav,viewers/wavview,10
wav,viewers/test_codec,-
bmp,apps/rockpaint,11
bmp,games/sliding_puzzle,11
mpg,viewers/mpegplayer,4
mpeg,viewers/mpegplayer,4
mpv,viewers/mpegplayer,4
m2v,viewers/mpegplayer,4
iriver,viewers/iriver_flash,3
tap,viewers/zxbox,12
sna,viewers/zxbox,12
tzx,viewers/zxbox,12
z80,viewers/zxbox,12
ppm,viewers/ppmviewer,2
*,viewers/properties,-
colours,apps/text_editor,11
ssg,games/superdom,-
link,viewers/shortcuts_view,-
*,viewers/shortcuts_append,-
*,apps/md5sum,-
