ch8,viewers/chip8,0
txt,viewers/text_viewer,1
txt,apps/text_editor,2
txt,viewers/sort,-
nfo,viewers/text_viewer,1
bmp,viewers/imageviewer,2
bmp,apps/rockpaint,11
bmp,games/sliding_puzzle,11
bmp,viewers/test_greylib_bitmap_scale,-
jpg,viewers/imageviewer,2
jpg,viewers/test_core_jpeg,-
jpg,viewers/test_mem_jpeg,-
jpg,viewers/bench_mem_jpeg,-
jpe,viewers/imageviewer,2
jpe,viewers/test_core_jpeg,-
jpe,viewers/test_mem_jpeg,-
jpe,viewers/bench_mem_jpeg,-
jpeg,viewers/imageviewer,2
jpeg,viewers/test_core_jpeg,-
jpeg,viewers/test_mem_jpeg,-
jpeg,viewers/bench_mem_jpeg,-
png,viewers/imageviewer,2
#ifdef HAVE_LCD_COLOR
ppm,viewers/imageviewer,2
#endif
ucl,viewers/rockbox_flash,3
rvf,viewers/video,4
mp3,viewers/vbrfix,5
m3u,viewers/search,-
m3u,viewers/iriverify,-
lrc,apps/lrcplayer,1
lrc8,apps/lrcplayer,1
snc,apps/lrcplayer,1
gb,viewers/rockboy,6
gbc,viewers/rockboy,6
sgb,viewers/rockboy,6
mid,viewers/midi,7
rmi,viewers/midi,7
669,viewers/mikmod,7
amf,viewers/mikmod,7
asy,viewers/mikmod,7
dsm,viewers/mikmod,7
far,viewers/mikmod,7
gdm,viewers/mikmod,7
gt2,viewers/mikmod,7
imf,viewers/mikmod,7
it,viewers/mikmod,7
m15,viewers/mikmod,7
med,viewers/mikmod,7
mod,viewers/mikmod,7
mtm,viewers/mikmod,7
okt,viewers/mikmod,7
s3m,viewers/mikmod,7
stm,viewers/mikmod,7
stx,viewers/mikmod,7
ult,viewers/mikmod,7
uni,viewers/mikmod,7
xm,viewers/mikmod,7
pd,viewers/pdbox,2
rsp,viewers/searchengine,8
sok,games/sokoban,1
pgn,games/chessbox,1
sgf,games/goban,1
ss,games/sudoku,1
wav,viewers/wavplay,9
wav,viewers/wavview,10
wav,viewers/wav2wv,-
wav,viewers/mp3_encoder,-
wav,viewers/test_codec,-
mpg,viewers/mpegplayer,4
mpeg,viewers/mpegplayer,4
mpv,viewers/mpegplayer,4
m2v,viewers/mpegplayer,4
iriver,viewers/iriver_flash,3
tap,viewers/zxbox,12
sna,viewers/zxbox,12
tzx,viewers/zxbox,12
z80,viewers/zxbox,12
cfg,viewers/theme_remove,-
*,viewers/properties,-
*,viewers/shortcuts_append,-
*,apps/md5sum,-
colours,apps/text_editor,11
ssg,games/superdom,-
cells,demos/rocklife,-
link,viewers/shortcuts_view,-
lua,viewers/lua,-
ipod,viewers/crypt_firmware,-
ipodx,viewers/crypt_firmware,-
z1,viewers/frotz,-
z2,viewers/frotz,-
z3,viewers/frotz,-
z4,viewers/frotz,-
z5,viewers/frotz,-
z6,viewers/frotz,-
z7,viewers/frotz,-
z8,viewers/frotz,-
shopper,viewers/shopper,1
