[Desktop Entry]
Name=Rockbox
GenericName=Music Player
X-GNOME-FullName=Rockbox Music Player
Comment=The Rockbox Custom Jukebox Firmware on your Desktop
Exec=rockbox
Icon=rockbox
Terminal=false
Type=Application
Categories=AudioVideo;
StartupNotify=true
X-Ubuntu-Gettext-Domain=rockbox
